/* CSS document */

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/* HTML5 display rule */
header, div {
	display:block;
}

html {
	background:#DFDCE3;
	overflow: auto;	
}

body {
	font: 100% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1.6;
	position: relative;
	height: 95%;
	background: rgba(74,189,172);
	background-image: url(../../Desktop/Foellinger_Aud.jpg);
	color: rgb(255, 255, 240);
	text-shadow: 1px 1px rgb(0, 0, 0);
	font-weight: normal;
	font-style: normal;
	overflow: hidden;
}

a {
	text-decoration: none;
	text-shadow: none;
	font-weight: bold;
	color: #3b5998;
	height: 10%;
	top: 50px;
	left: 10px;

}

a:hover {
	opacity: .8;
}



/* Basic Layout Styles ----------------------------------------*/
body {
	width: 1280px;
	margin: 0 auto;
}

header {
	height: 120px;
	text-align: center;
	font-size: 4.5em;
	letter-spacing: .5em;
	background: #f7b733;
	margin-bottom: 10px;
	padding-left: 28px;
	width: 1252px; 
}

.Mission {
	height: 150px;
	width: 720px;
	float: left;
	font-size: 1.2em;
	background: #536895;
	background-size: 90px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	padding-left: 10px;
	border-radius: 15px;
	opacity: .8;
}

.Goals {
	float: left;
	width: 720px;
	height: 150px;
	padding-left: 10px;
	border-radius: 15px;
	background: #536895;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 30px;
	border: none;
	opacity: .8;
}

.SignUp {
	float: right;
	margin-left: 50px;
	width: 400px;
	height: 300px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
	background: rgba(83,104,149,.8);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 30px;
	color: #f7b733;
}

.SignUp a {
	text-decoration: none;
	position: none;
	width: 400px;
	height: 300px;
	color: #f7b733;
	text-shadow: 1px 1px black;
}
.submit {
	background: #fc4a1a;
	height: 30px;
	width: 60px;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 7px;
	padding-right: 5px;
	border-radius: 8px;
	position: relative;
	left: 155px;
	top: 228px;
	border: 2px #fc805e outset; 
}

a:hover .submit {
	border: 2px #fc805e outset;
	opacity: .8;
}

.AboutMe {
	clear:left;
	padding-left: 10px;
	width: 720px;
	height: 150px;
	border-radius: 15px;
	background: #536895;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 20px;
	opacity: .8;
}

.SignUp h2 {
	height: 10px;
	text-align: center;
	font-size: 2em;
	margin-top: 15px; 
}


footer {
	height: 120px;
	text-align: left;
	font-size: 1em;
	background: #f7b733;
	padding-left: 28px;
	width: 1252px;
}

.Facebook {
	position: relative;
	top: 48px;
}

.copyRight {
	position: relative;
	bottom: 10px;
	top: 60px;
	left: 520px;
	right: 500px;
	font-size: 1em;
	color: rgb(255,255,240);
	text-shadow: none;
}

.icon {
	position: relative;
	left: 20px;
	color: white;
	background: #3b5998;
	padding-right: 4px;
	padding-left: 12px;
	padding-top: 2px;
	border-radius: 2px;
	
}

li {
	list-style-type: none;
	height: 30px;
	background: rgba(245,245,220,.7);
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: 10px;
	padding-left: 5px;
	border-radius: 10px;
	text-shadow: none;
	color: #536895;
	font-weight: bold;
}




